.app__footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__footer-links {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0.5rem;
}

.app__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s linear;
}

.app__social-links:hover {
    transform: scale(1.04);
}

.app__social-links i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.app__social-links p {
    color: var(--gray-color);
    font-weight: 500;
}